*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.pinimg.com/736x/e1/ef/60/e1ef60251dded4c8bf5291fd42988f8e.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
}
.caixa-maior{
    background: #000000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
    width: 950px;
    max-width: 450px;
    color: #ffffff;
}

.input-cidade{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc(100% - 100px);
}

.botao-busca{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-busca{
    width: 25px;
}
.caixa-media{
    margin-top: 30px;
}

.cidade{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
}
.tempo{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20px;
}

.caixa-menor{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.texto-previsao{
    color: #ffffff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade{
    color: #ffffff;
    margin-top: 20px;
}

.botao-voltar {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #000;
    color: #fff;
    padding: 12px 18px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s;
}

.botao-voltar:hover {
    opacity: 1;
    transform: scale(1.05);
}